html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
.Carrousel{
    display: grid !important;
    grid-template-columns: 1fr;
  }
/*
NOTES:
1. dragging is disabled (by me);
2. clicking is enabled (by me);
3. arrow keys (left and right) are enabled (by default);
*/

* {
    box-sizing: border-box;
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .card {
    margin: 0 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 35, 0.25);
    border-radius: 8px;
    height: 200px;
    width: 200px;
    display: block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    transition: width 0.16s ease-in-out, height 0.16s ease-in-out;
  }
  
  .card.is-custom-selected {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-viewport {
    position: relative;
    height: inherit !important;
  }
  
  .flickity-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  