@media (max-width: 1028px ) {
  .menu{
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1.8fr;
  }
}
@media (max-width: 425px ) {
    header,.z-index,.Background-I{
      height: 100vh;
    }
    .Barra-menu{
      grid-template-columns: 1fr 1fr 1fr;
      z-index: 1000;
    }
    .Menu-mobile{
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#076094,#dc4225);
      border: 2px solid #474747;
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      border-radius: 25px 0 0 25px;
      border-right: 0;
    }
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    .navigation-toggle{
      grid-column-start: 3;
      width: 50px;
      height: 50px;
      justify-self: end;
      top: 1.4rem;
      right: 0px;
    }
    .navigation{
        width: 80vw;
        right: -80vw; 
        position: absolute;
        overflow: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 100vh;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#002f4b,#dc4225);
	      background-size: 400% 400%;
      	animation: gradient 15s ease infinite;
      }
      .navigation > div:nth-child(1){
        display: none;
      }
      .nav-js #wrapper{
        -webkit-transform:translate(-80vw, 0) scale(1, 1) !important;
           -moz-transform:translate(-80vw, 0) scale(1, 1) !important;
            -ms-transform:translate(-80vw, 0) scale(1, 1) !important;
             -o-transform:translate(-80vw, 0) scale(1, 1) !important;
          transform:translate(-80vw, 0) scale(1, 1) !important;
      }
      #wrapper {
        width: 100%;
        position: relative;
        -webkit-transition: all .2s ease-out;
           -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
             -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
      }
      .z-index > a:nth-child(5){
        margin: 1.5rem 0 0 7vw;
      }
      .Barra-menu > a:nth-child(1){
        margin-left: 5vw;
      }
      .menu > a{
        justify-self: center;
        align-self: center;
      }
      h1:nth-child(2){
        font-size: var(--unnamed-font-size-30);
      }
    /*Seccion articles*/  
    .articles{
      margin: 7rem 0 10rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
    }
    /*Seccion Carousel*/
    .slider-container{
      width: auto;
      height: 44rem;
    }
    .slider-container .slider-content .slider-single .slider-single-image {
      width: 18rem;
    }
    .slider-single >.slider-single-title{
      width: auto;
      font-size: 25px !important;
    }
    /*Seccion Download*/
    .download{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .download img{
      justify-self: center;
      width: 80vw;
      height: auto;
    }
    .download div > h2{
      margin: 0;
      margin-left: 5vw;
    }
    .download div > p{
      margin: 5vw;
    }
    /*Footer */
    footer p{
      width: auto;
    }
    /*PAGINAS INTERNAS*/
    .small{
      position: fixed !important;
    }
    .portada{
      margin-top: 15vw;
    }
    .Panel-1{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .Panel-1 div:nth-child(1) p{
      line-height: 1.3;
      font-size: 14px;
    }
    .Panel-1 div:nth-last-child(1) {
      grid-template-columns: 1fr 0fr;
      margin-right: 0;
    }
    .Panel-1 div:nth-last-child(1) img:nth-child(1) {
      justify-self: center;
    }
    .Panel-1 div:nth-last-child(1) img:nth-last-child(1) {
      display: none;
    }
  
    .Panel-2{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .Panel-2 div{
      grid-row-start: 1;
      margin: 0 5vw;
    }
    .Panel-2 div:nth-last-child(1) p{
      line-height: 1.3;
      font-size: 14px;
    }
    .Panel-2 > img{
      height: auto;
      width: 100%;
    }
    .Marcas{
      width: 100vw;
    }
    .Anuncio p{
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 20px;
    }
    footer p{
      line-height: 1.4;
      font-size: 14px;
      margin: 0 4vw;
    }
  }
@media (max-width: 375px) {
  .slider-container .slider-content .slider-single .slider-single-image {
    width: 17rem;
  }
  .slider-container{
    height: 44rem;
  }
  .download div h2{
    margin: 0 6vw 2vh 6vw;
  }
  .download div p{
    font-size: 1.1rem;
    margin: 0 6vw;
    line-height: 1.5;
  }
  footer p{
    font-size: 1.1rem;
    line-height: 1.5;  
  }
}
@media (max-width: 335px) {
  .navigation-toggle{
    position: absolute;    
    top: 5rem;
  }
  h1:nth-child(2){
    width: 50vw;
  }

  .download{
    margin: 1rem 0 5rem 0;
  }
  .download img{
    justify-self: center;
    align-self: end;
  }
}