html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Estilos scrollbar */
::-webkit-scrollbar {
    width: 5px; /* ancho barra */
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color fondo barra */
  }
  ::-webkit-scrollbar-thumb {
    background: #9e9b9b; /* color barra */
    border-radius: 10px; /* borde barra */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #56556b; /* color barra hover */
  }
:root {
    /* Colors: */
    --unnamed-color-2b2b2b: #2B2B2B;
    --unnamed-color-81ee8e: #81EE8E;
    --unnamed-color-00c9fd: #00C9FD;
    --unnamed-color-ffffff: #FFFFFF;
    /* Font/text values */
    --unnamed-font-family-roboto: 'Roboto', sans-serif;
    --unnamed-font-family-helvetica-neue: 'Open Sans', sans-serif;
    --unnamed-font-style-normal: 400;
    --unnamed-font-weight-normal: 400;
    --unnamed-font-weight-bold: 700;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-26: 26px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-35: 35px;
    --unnamed-font-size-40: 40px;
    --unnamed-font-size-45: 45px;
    --unnamed-font-size-50: 50px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-28: 28px;
    --unnamed-line-spacing-34: 34px;
    --unnamed-line-spacing-39: 39px;
    --unnamed-line-spacing-46: 46px;
    --unnamed-line-spacing-53: 53px;
    --unnamed-line-spacing-66: 66px;
    --unnamed-line-spacing-79: 79px;
    }
    /* Character Styles */
    h1{
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold) !important;
    font-size: var(--unnamed-font-size-45);
    line-height: var(--unnamed-line-spacing-79);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    h2{
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold) !important;
    font-size: var(--unnamed-font-size-35)!important;
    line-height: var(--unnamed-line-spacing-66);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    h3{
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-26) !important;
    line-height: var(--unnamed-line-spacing-53);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    h6{
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-34);
    letter-spacing: var(--unnamed-character-spacing-0);
    }
    p{
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    }
/* Comienzo Edición */
/* Generales */
.icons{
    width: 35px;
    height: auto;
}
a{
    color: var(--unnamed-color-ffffff) !important;
    font: normal normal normal 1rem 'Open Sans', sans-serif;
}
.z-index{
    position: relative;
    z-index: 10;
}
.center{
  justify-self: center;
}
/* Header */
header{
    width: 100%;
    height: 92vh;
    background: url(../img/slider.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.Background-I{
    width: 100%;
    height: 92vh;
    background: transparent linear-gradient(180deg, var(--unnamed-color-00c9fd) 0%, var(--unnamed-color-81ee8e) 100%) 0% 0% no-repeat padding-box;
    opacity: 0.68;
    position: absolute;
    z-index: 1;
}
.Barra-menu{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.0fr 2fr;
    padding-top: 30px;
}
.logo{
    width: 250px;
    margin-bottom: 20px;
    height: auto;
    justify-self: center;
}
.menu{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1.8fr;
    justify-items: end;
    align-items: center;
}
.RS{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
h1:nth-child(2){
    margin: 16vh 0 0rem 7vw;
    width: 37rem; 
}
.z-index p{
    color:var(--unnamed-color-ffffff);
    margin-left: 7vw;
}
.z-index > a:nth-child(4),.z-index > a:nth-child(5){
    display: inline-block;
    margin: 3rem 2.5rem 0 0;
}
.z-index > a:nth-child(4){
    margin-left: 7vw;
}
a > div:nth-child(1){
    display: inline-block;
    border: 2.5px solid var(--unnamed-color-ffffff);
    border-radius: 44px;
    width: 14rem;
    text-align: center;
    right: 2.5rem;
}	
a > div > h6{
    margin: 15px auto
}
/* Seccion Articles*/
.articles{
    margin:10rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    justify-items: center;
    grid-gap: 1rem;
}
article img{
  width: 100%;
  height: auto;
}
article h3,article p{
    color: var(--unnamed-color-2b2b2b);
    text-align: center;
    margin-bottom: 0;
    line-height: 1.2;
}
/* Section Video*/
.video{
    position: absolute;
    background: url(../img/video-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 35vh;
}
.Background-II{
    position: relative;
    height: 35vh;
    background: var(--unnamed-color-2b2b2b) 0% 0% no-repeat padding-box;
    opacity: 0.47;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    
}
.Background-II img.icons{
  position: relative;
  width: 70px;
  align-self: center;
  justify-self: center;
  z-index: 50;
  opacity: 1;
}
.space{
    z-index: -10;
    position: relative;
    width: 100%;
    height: 35vh;
}
/*Carousel*/
@keyframes heartbeat {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
.Carousel{
    position: relative;
    margin-top: 10rem;
    color: #27292d;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    
  }
  
  .slider-container {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 720px;
  }
  .slider-container .bullet-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-container .bullet-container .bullet {
    margin-right: 14px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #27292d;
    opacity: 0.5;
  }
  .slider-container .bullet-container .bullet:last-child {
    margin-right: 0px;
  }
  .slider-container .bullet-container .bullet.active {
    opacity: 1;
  }
  .slider-container .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%, -50%);
  }
  .slider-container .slider-content .slider-single {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: z-index 0ms 250ms;
    text-align: center;
  }
  .slider-container .slider-content .slider-single .slider-single-image {
    position: relative;
    left: 0;
    top: 0;
    width: 20rem;
    height: auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
    opacity: 0;
  }
  .slider-container .slider-content .slider-single .slider-single-download {
    position: absolute;
    display: block;
    right: -22px;
    bottom: 12px;
    padding: 15px;
    color: #333333;
    background-color: var(--unnamed-color-2b2b2b);
    font-size: 18px;
    font-weight: 600;
    font-family: "karla";
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
  }
  .slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
    outline: none;
    text-decoration: none;
  }
  .slider-container .slider-content .slider-single .slider-single-title {
    display: block;
    float: left;
    margin: 16px 0 0 20px;
    font-size: 20px;
    font-family: "karla";
    font-weight: 400;
    color: #27292d;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
  }
  .slider-container .slider-content .slider-single 
  .slider-container .slider-content .slider-single.preactivede .slider-single-image {
    transform: translateX(-50%) scale(0);
  }
  .slider-container .slider-content .slider-single.preactive {
    z-index: 1;
  }
  .slider-container .slider-content .slider-single.preactive .slider-single-image {
    opacity: 0.3;
    transform: translateX(-40%) scale(0.8);
  }
  .slider-container .slider-content .slider-single.preactive .slider-single-download {
    transform: translateX(-150px);
  }
  .slider-container .slider-content .slider-single.preactive .slider-single-title {
    transform: translateX(-150px);
  }
  
  .slider-container .slider-content .slider-single.proactive {
    z-index: 1;
  }
  .slider-container .slider-content .slider-single.proactive .slider-single-image {
    opacity: 0.3;
    transform: translateX(40%) scale(0.8);
  }
  .slider-container .slider-content .slider-single.proactive .slider-single-download {
    transform: translateX(150px);
  }
  .slider-container .slider-content .slider-single.proactive .slider-single-title {
    transform: translateX(150px);
  }
  
  .slider-container .slider-content .slider-single.proactivede .slider-single-image {
    transform: translateX(50%) scale(0);
  }
  .slider-container .slider-content .slider-single.active {
    z-index: 2;
  }
  .slider-container .slider-content .slider-single.active .slider-single-image {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  .slider-container .slider-content .slider-single.active .slider-single-download {
    opacity: 1;
    transition-delay: 100ms;
    transform: translateX(0px);
  }
  .slider-container .slider-content .slider-single.active .slider-single-title {
    opacity: 1;
    transition-delay: 200ms;
    transform: translateX(0px);
  }
  
  .slider-container .slider-content .slider-single.active .slider-single-likes i {
    animation-name: heartbeat;
    animation-duration: 500ms;
    animation-delay: 900ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .slider-container .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    color: #27292d;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid var(--unnamed-color-2b2b2b);
    border-right: 2px solid var(--unnamed-color-2b2b2b);
    border-bottom: 2px solid var(--unnamed-color-2b2b2b);
    border-left: 2px solid var(--unnamed-color-2b2b2b);
    margin-right: -2px;
  }
  .slider-container .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    color: #27292d;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid var(--unnamed-color-2b2b2b);
    border-right: 2px solid var(--unnamed-color-2b2b2b);
    border-bottom: 2px solid var(--unnamed-color-2b2b2b);
    border-left: 2px solid var(--unnamed-color-2b2b2b);
    margin-left: -2px;
  }
  .slider-container .not-visible {
    display: none !important;
  }
/*Seccion download*/
.download{
    margin: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;
}
.download div{
    align-self: center;
}
.download div > h2{
    color: var(--unnamed-color-2b2b2b);
    font-weight: 700;
}
.download div > p{
    margin-right: 7vw;
    align-items: center;
}
/*Section Footer*/
footer{
    display: grid !important;
    background:#333333;
    width: 100%;
    height: 40vh;
    grid-template-rows: 1.2fr 1fr 1fr 1fr .8fr;
    align-content: center;    
    align-items: center;
}
footer a{
    grid-row-start: 2;
}
footer .RS{
    grid-row-start: 3;
}
footer p{
    grid-row-start: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 40rem;
    color: #fff;
    margin: 0;
}
footer .logo,footer p{
    justify-self: center;
}

/* Internal Pages */
/* Header*/
.header{
  background-image: none;
  background-color: var(--unnamed-color-2b2b2b);
  height: auto;
}
.small{
  padding-top: 2rem;
}
.padding-top{
  padding-top: 1.1rem;
  font-size: 1.5rem;
}
.menu.no{
  align-items: flex-start;
}
/*.RS.Social{
  Talves media query
}*/
/*Seccion Portada*/
.portada{
  position: relative;
  width: 100%;
  height: 40vh;
  background: url(../img/slider-interior.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid; 
}
.portada h1{
  margin: 0;
  grid-column-end: 3;
  place-self: center;
  position: absolute;
  opacity: 1;
  z-index: 20;

}
.Background-III{
  position: relative;
    height: 40vh;
    background: var(--unnamed-color-2b2b2b) 0% 0% no-repeat padding-box;
    opacity: 0.47;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
}
/* Seccion Panel-1*/
.Panel-1{
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Panel-1 div:nth-child(1){
  padding: 0 3vw 0 5vw;
  place-self: center;
}
.Panel-1 div:nth-last-child(1){
  display: grid;
  grid-gap: 1.1rem;
  grid-template-columns: 1fr 1fr;
  margin-right: 3.5vw;
}
.Panel-1 div:nth-child(1) h2{
  color: var(--unnamed-color-00c9fd);
}
.Panel-1 div:nth-last-child(1) img{
  height: 60vh;
}
.Panel-1 div:nth-last-child(1) img:nth-child(1){
  justify-self: end;
}
/* Seccion Panel-2 */
.Panel-2{
  margin: 8rem 0;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}
.Panel-2 > img{
  height: 65vh;
  width: 50vw;
}
.Panel-2 div{
  place-self: center;
  text-align: center;
  margin-right: 5.5vw;
}
.Panel-2 div h2{
  color: var(--unnamed-color-00c9fd);
}
/*Seccion Carousel

Se encuentra en un archivo aparte

*/

/* Seccion Anuncio*/
.Anuncio{
  margin: 8rem 0;
  position: relative;
  height: 59vh;
  background: url(../img/somos-equipo.jpg);
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.Anuncio h2{
  text-align: center;
  z-index: 20;
}
.Anuncio p{
  color: #FFFFFF;
  margin: 0 15vw;
  z-index: 20;
}
.Anuncio a > div > h6{
  text-transform: uppercase;
}
.Anuncio a{
  justify-self: center;
  align-self: start;
  z-index: 20;
}
.Background-IIII{
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
  height: 59vh;
  background: var(--unnamed-color-2b2b2b) 0% 0% no-repeat padding-box;
  opacity: 0.57;
  z-index: 10;
  grid-row-start: 1;
}
/* Seccion patrocinadores */
.Marcas{
  margin: 11rem auto;
  width: 99vw;
  display: grid;
  grid-template-columns: 1fr;
}
.marquee{
  justify-self: center;
  align-self: center;
}
:root {
  --marquee-width: 80vw;
  --marquee-height: auto;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
}